<% provide :title, @support.movie_title %>
<h1><%= @support.movie_title %></h1>
<div class="shedule-item">
  <div>
    <h3><%= Date.today %></h3>
    <%= render partial: "screenings/show_time",
      collection: @support.movie.screenings.by_date(Date.today) %>
  </div>
</div>
<div class="shedule-item">
  <div>
    <h3><%= Date.tomorrow %></h3>
    <%= render partial: "screenings/show_time",
      collection: @support.movie.screenings.by_date(Date.tomorrow) %>
  </div>
</div>
<div class="shedule-item">
  <div>
    <h3><%= Date.tomorrow.tomorrow %></h3>
    <%= render partial: "screenings/show_time",
      collection: @support.movie.screenings.by_date(Date.tomorrow.tomorrow) %>
  </div>
</div>
