<% provide :title, t("about.title") %>
<h1><%= t "about.title" %></h1>

<h3><%= t "about.general_title" %></h3>
<div class="w3-cell w3-container w3-text-brown">
  <p><%= t "about.general" %></p>
</div>

<h3><%= t "about.ceo_title" %></h3>
<div class="w3-cell w3-container w3-text-brown">
  <p><%= t "about.ceo" %></p>
</div>

<h3><%= t "about.president_title" %></h3>
<div class="w3-cell w3-container w3-text-brown">
  <p><%= t "about.president" %></p>
</div>

<h3><%= t "about.guard_title" %></h3>
<div class="w3-cell w3-container w3-text-brown">
  <p><%= t "about.guard" %></p>
</div>
