<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<%= stylesheet_link_tag "room_template" %>
<% provide :button_text, t(".button_text") %>
<% provide :url, admin_rooms_path %>

<div class="content">
  <div id="create_room_data"
    data-map="<%= @map %>"
    data-deleted_seats="<%= @room.find_deleted_seats %>">
  </div>

  <div class="main">
    <h2><%= t ".select_seat" %></h2>
    <div class="demo">
      <div id="seat-partial">
        <div id="seat-map">
          <div class="front"><%= t "rooms.screen" %></div>
        </div>
      </div>
      <div class="booking-details">
        <div id="form_area">
          <%= render "form", room: @room %>
        </div>
        <div id="legend-partial">
          <div id="legend"></div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <p class="copy_rights">&copy; 2016 Movie Ticket Booking Widget.
    All Rights Reserved | Design by
    <a href="http://w3layouts.com/" target="_blank"> W3layouts</a>
  </p>
</div>
