<div class="top_header">
  <div class="wrapper">
    <div class="right_top fr">
      <ul>
         <li><%= link_to t(:english), locale:"en"%></li>
          <li><%= link_to t(:vietnamese), locale:"vi"%></li>
      </ul>
    </div>
    <div class="right_top fr">
      <% if logged_in? %>
        <li class="dropdown">
          <%= link_to t("layouts.header.greeting", name: current_user.name), "#",
            {"class": "dropdown-toggle", "data-toggle": "dropdown"} %>
            <b class="caret"></b>
          <ul class="dropdown-menu">
            <li><%= link_to t("layouts.header.profile"), current_user %></li>
            <li>
              <%= link_to t("layouts.header.settings"), edit_user_path(current_user) %>
            </li>
            <li>
              <%= link_to t("layouts.header.logout"), logout_path, method: :delete %>
            </li>
          </ul>
        </li>
      <% else %>
        <ul class="select-language">
          <li class="register_top_header">
            <%= link_to t("layouts.header.signup"), signup_path%></li>
          <li>|</li>
          <li class="login_top_header">
            <%= link_to t("layouts.header.login"), login_path %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="header" >
  <div class="main_nav admin_nav">
    <div class="nav fl">
      <nav>
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to t("layouts.header.home"), admin_path %></li>
          <li><%= link_to t("layouts.header.movie"), admin_movies_path %></li>
          <li><%= link_to t("layouts.header.screening"), "#" %></li>
          <li><%= link_to t("layouts.header.room"), admin_rooms_path %></li>
          <li><%= link_to t("layouts.header.users"), admin_users_path %></li>
          <li>
            <div id="header-search" class="skip-content">
              <div class="header-search-left">
                <% if request.original_url.include? searchs_url %>
                  <%= form_tag searchs_path,
                    class: "form-inline", remote: true do %>
                    <%= render "searchs/search_form_content", keyword: @keyword %>
                  <% end %>
                <% else %>
                  <%= form_tag searchs_path, class: "form-inline" do %>
                    <%= render "searchs/search_form_content", keyword: @keyword %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
