<%= provide :title, t("layouts.header.screening") %>
<h3><%= Date.today %></h1>
<div class="content_box_showtime">
  <ul>
    <%= render partial: "admin/screenings/schedule", collection: @movie %>
  </ul>
</div>
<h3><%= Date.tomorrow %></h1>
<h3><%= Date.tomorrow.tomorrow %></h1>
