<tr>
  <td class="number_showtime">
    <span><%= screening.room.name %></span>
  </td>
  <td class="screening_showtime">
    <span><%= l screening.screening_start, format: :short %> - </span>
    <span><%= l screening.screening_start + screening.movie.duration.minutes,
      format: :short %></span>
  </td>
  <td class="seat_showtime">
    <span><%= pluralize screening.available_seats,
      t("screenings.screening.seat") %></span>
    <span>/ <%= pluralize screening.room.seat_no,
      t("screenings.screening.seat") %></span>
  </td>
  <td>
    <%= link_to t("movie.delete"), admin_screening_path(screening),
      method: :delete, data: {confirm: t("movie.sure")} %>
  </td>
</tr>
