<% provide :title, @movie.title %>
<div class="product-view">
  <div class="product-essential">
    <div class="page-title product-view">
      <span class="h1"><%= t "movie.movie_detail" %></span>
    </div>
    <div class="product-name-reponsive">
      <h1><%= @movie.title %></h1>
    </div>
    <div class="product-img-box">
      <div class="product-image product-image-zoom">
        <div class="product-image-gallery">
          <%= image_tag @movie.picture.url if @movie.picture? %>
        </div>
      </div>
    </div>
    <div class="product-shop">
      <div class="product-name">
        <span class="h1"><%= @movie.title %></span>
      </div>
      <div class="movie-director movie-info">
        <label><%= t "movie.label.director" %>: </label>
        <div class="std">&nbsp; <%= @movie.director %></div>
      </div>
      <div class="movie-actress movie-info">
        <label><%= t "movie.label.cast" %>: </label>
        <div class="std">&nbsp; <%= @movie.cast %></div>
      </div>
      <div class="movie-genre movie-info">
        <label><%= t "movie.label.genre" %>: </label>
        <div class="std">&nbsp; <%= @movie.genre %></div>
      </div>
      <div class="movie-release movie-info">
        <label><%= t "movie.label.release_date" %>: </label>
        <div class="std">&nbsp; <%= @movie.release_date %></div>
      </div>
      <div class="movie-actress movie-info">
        <label><%= t "movie.label.duration" %>: </label>
        <div class="std">&nbsp; <%= @movie.duration %> <%= t "movie.minutes" %></div>
      </div>
      <div class="movie-language movie-info">
        <label><%= t "movie.label.language" %>: </label>
        <div class="std">&nbsp; <%= @movie.language %></div>
      </div>
      <div class="movie-rating movie-rated-web">
        <label><%= t "movie.label.rated" %>: </label>
        <div class="std">&nbsp; <%= @movie.rated %></div>
      </div>
    </div>

    <div class="movie-detail-fb-booking">
      <div class="add-to-cart-wrapper ">
        <%= link_to edit_admin_movie_path(@movie), class: "button btn-booking" do %>
          <span><%= t "movie.edit" %></span>
        <% end %>
        <%= link_to admin_movie_path(@movie), method: :delete,
          data: {confirm: t("movie.sure")}, class: "button btn-booking" do %>
            <span><%= t "movie.delete" %></span>
        <% end %>
        <%= link_to new_admin_screening_path(movie_id: @movie.id),
          class: "button btn-booking" do %>
            <span><%= t "admin.movies.index.add_screening" %></span>
        <% end %>
      </div>
    </div>
    <div class="schedule">
      <p><%= @movie.description %></p>
    </div>
    <%= youtube_embed @movie.trailer_url %>
  </div>
</div>

<div class="schedule">
  <label><%= t "movie.shedule" %>: </label>
  <% if @movie.screenings.not_show_yet.count > 0 %>
      <% @movie.screenings.not_show_yet.available_date.each do |date| %>
      <div class="schedule-date">
        <h5><%= date %></h5>
        <%= render partial: "admin/movies/screening",
          collection: @movie.screenings.by_date(date) %>
      </div>
    <% end %>
  <% else %>
    <%= t "admin.movies.not_available" %>
  <% end %>
</div>
