<% provide :title, t(".search_by_title") %>
<h1><%= t ".search_by_title" %></h1>

<%= form_tag searchs_path do %>
  <%= label_tag :keyword, t(".title") %>
  <%= text_field_tag :keyword, @keyword, class: "form-control" %>

  <%= submit_tag t(".search"), class: "btn btn-primary" %>
<% end %>

<% if @movies.nil? || @movies.empty? %>
  <%= t ".no_result" %>
<% else %>
  <%= paginate @movies, theme: "twitter-bootstrap-3" %>
  <%= render @movies %>
  <%= paginate @movies, theme: "twitter-bootstrap-3" %>
<% end %>
