<% if @screenings.count > 0 %>
  <% @screenings.available_date.each do |date| %>
      <h3><%= date %></h3>
      <div class="content_box_showtime">
        <table>
          <th><%= t "admin.rooms.show.name" %></th>
          <th><%= t "layouts.header.movie" %></th>
          <th><%= t "admin.rooms.show.time" %></th>
          <th><%= t "screenings.screening.available" %></th>
          <%= render partial: "admin/screenings/screening_date",
            collection: @screenings.by_date(date) %>
        </table>
      </div>
  <% end %>
<% else %>
  <%= t "admin.screenings.not_available" %>
<% end %>
