<%= provide :title, t(".title") %>
<div class="product-view">
  <div class="page-title product-view">
    <span class="h1"><%= t "layouts.header.screening" %></span>
  </div>
  <%= form_tag admin_screenings_path, method: :get, remote: true,
    class: "datepick-box input-group" do %>
    <%= hidden_field_tag :datepick, nil %>
    <%= text_field_tag :datepicker, nil, {class: "form-control", disabled: true} %>
      <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
      </span>
    <% end %>
  <div id="screenings-by-date">
    <%= render "admin/screenings/screening",
      screenings: @screenings %>
  </div>
</div>
