<%= provide :title, t(".title") %>
<div class="product-view">
  <div class="page-title product-view">
    <span class="h1"><%= t "layouts.header.screening" %></span>
  </div>
  <% if @screenings.count > 0 %>
    <% @screenings.available_date.each do |date| %>
      <div class="screening-date">
        <h3><%= date %></h3>
        <%= render partial: "admin/screenings/screening",
          collection: @screenings.by_date(date) %>
      </div>
    <% end %>
  <% else %>
    <%= t "admin.screenings.not_available" %>
  <% end %>
</div>
