<div class="main_nav admin_nav">
  <div class="nav fl">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to t("layouts.header.home"), root_path %></li>
        <li><%= link_to t("layouts.header.movie"), admin_movies_path %></li>
        <li><%= link_to t("layouts.header.screening"), admin_screenings_path %>
        </li>
        <li><%= link_to t("layouts.header.room"), admin_rooms_path %></li>
        <% if can? :manage, User %>
          <li><%= link_to t("layouts.header.users"), admin_users_path %></li>
        <% end %>
        <li>
          <div id="header-search" class="skip-content">
            <div class="header-search-left">
              <%= form_tag admin_searchs_path, method: :get, class: "form-inline" do %>
                <%= render "searchs/search_form_content", keyword: @keyword %>
              <% end %>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
