<footer>
  <small><%= t ".credit_html" %></small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), "#" %></li>
      <li><%= link_to t(".contact"), "#" %></li>
      <li><%= link_to t(:english), locale:"en" %></li>
      <li><%= link_to t(:vietnamese), locale:"vi" %></li>
    </ul>
  </nav>
</footer>
