<div class="top_header">
  <div class="wrapper">
    <div class="right_top fr">
      <ul>
         <li><%= link_to t(:english), locale:"en"%></li>
          <li><%= link_to t(:vietnamese), locale:"vi"%></li>
      </ul>
    </div>
    <div class="right_top fr">
      <% if logged_in? %>
        <li class="dropdown">
          <%= link_to t(".greeting", name: current_user.name), "#",
            {"class": "dropdown-toggle", "data-toggle": "dropdown"} %>
            <b class="caret"></b>
          <ul class="dropdown-menu">
            <% if current_user.admin? || current_user.mod? %>
              <li><%= link_to t(".admin"), admin_movies_path %></li>
            <% end %>
            <li><%= link_to t(".profile"), current_user %></li>
            <li>
              <%= link_to t(".settings"), edit_user_path(current_user) %>
            </li>
            <li>
              <%= link_to t(".logout"), logout_path, method: :delete %>
            </li>
          </ul>
        </li>
      <% else %>
        <ul class="select-language">
          <li class="register_top_header">
            <%= link_to t(".signup"), signup_path%></li>
          <li>|</li>
          <li class="login_top_header">
            <%= link_to t(".login"), login_path %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="header" >
  <% if request.original_url.start_with?(admin_url) &&
    (current_user.admin? || current_user.mod?) %>
    <%= render "layouts/admin_header", keyword: @keyword %>
  <% else %>
    <%= render "layouts/user_header", keyword: @keyword %>
  <% end %>
</div>
